{% if principaux is empty %}
	<div class="col-12 text-center">
		Aucun acteur principal n'est renseigné pour cette saison.
	</div>
{% else %}
		{% for principal in principaux %}
			<div class="col-img">
        		<div class="img-elt">
    				<a href="{{ path('acteur_afficher', {'slug': principal.acteur.slug}) }}">
    				    {{ image(principal.acteur) | raw }}
    				    {% if principal.role is not null %}<br>{{ principal.role }}{% endif %}
    				</a>
				</div>
			</div>
        {% endfor %}
        </table>
{% endif %}