<div class="row">
    <div class="col-6 pad-form">
    	<div class="form-group">
    		<label for="personne_famille_clef" class="required">Clef de la famille</label></span>
    		<input type="text" id="personne_famille_clef" name="personne[famille][clef]" required="required" class="form-control">
    	</div>
    </div>
    <div class="col-1 pad-form" id="checkKey">
    	<span class="oi oi-check check"></span>
    </div>
</div>