<div class="row">
    <div class="col-6 pad-form">
    	<div class="form-group">
    		<label for="personne_famille_nom" class="required">Nom de famille</label><span class="mandatory">*</span></span>
    		<input type="text" id="personne_famille_nom" name="personne[famille][nom]" required="required" class="form-control">
    	</div>
    </div>
</div>