<div class="row">
	<div class="col-6 pad-form">
		<div class="form-group">
    	    <label for="personne_lieu_numero_voie" class="required">N° de voie</label><span class="mandatory">*</span>
    	    <input type="number" id="personne_lieu_numero_voie" name="personne[lieu][numero_voie]" required="required" class="form-control">
    	</div>
	</div>
	<div class="col-6 pad-form">
		<div class="form-group">
    	    <label for="personne_lieu_mention">Mention</label>
    	    <input type="text" id="personne_lieu_mention" name="personne[lieu][mention]" class="form-control">
    	</div>
	</div>
</div>
<div class="row">
	<div class="col-12 pad-form">
		<div class="form-group">
    	    <label for="personne_lieu_voie" class="required">Voie</label><span class="mandatory">*</span>
    	    <input type="text" id="personne_lieu_voie" name="personne[lieu][voie]" required="required" class="form-control">
    	</div>
	</div>
</div>
<div class="row">
	<div class="col-12 pad-form">
		<div class="form-group">
    	    <label for="personne_lieu_complement">Complément</label>
    	    <input type="text" id="personne_lieu_complement" name="personne[lieu][complement]" class="form-control">
    	</div>
	</div>
</div>
<div class="row">
	<div class="col-6 pad-form">
		<div class="form-group">
    	    <label for="personne_lieu_code_postal" class="required">Code postal</label><span class="mandatory">*</span>
    	    <input type="text" id="personne_lieu_code_postal" name="personne[lieu][code_postal]" required="required" class="form-control">
    	</div>
	</div>
	<div class="col-6 pad-form">
		<div class="form-group">
    	    <label for="personne_lieu_ville" class="required">Ville</label><span class="mandatory">*</span>
    	    <input type="text" id="personne_lieu_ville" name="personne[lieu][ville]" required="required" class="form-control">
    	</div>
	</div>
</div>
